{% include 'partials/_header.twig'%}


<main class="main">
    <h1 class="main-title">Le meilleur cocktail !</h1>

    <div class="cocktail-list-container">
      
            <article class="cocktail">
                <h2>{{ bestCocktail.nom }}</h2>
                <img class="cocktail-image" src="{{ bestCocktail.image }}" alt="{{ bestCocktail.nom }}" />
                <p>{{ bestCocktail.description }}</p>
                <p>Ingrédients :</p>

                <ul>
                    {% for ingredient in bestCocktail.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <p>Publié le : {{ bestCocktail.date_creation }}</p>
            </article>
    </div>
</main>