{% extends 'base.html.twig' %}

{% block metatitle %} 
    {{ cocktail.nom }}
{% endblock metatitle %}

{% block main %}
<main class="main">
    <h1 class="main-title">Le meilleur cocktail !</h1>

    <div class="cocktail-list-container">
        <article class="cocktail">
            <h2 class="cocktail-title">{{ cocktail.nom }}</h2>
            <img class="cocktail-image" src="{{ cocktail.image }}" alt="{{ cocktail.nom }}" />
            <p class="cocktail-description">{{ cocktail.description }}</p>
            <p class="cocktail-ingredients-title">Ingrédients :</p>

            <ul class="cocktail-ingredients-list">
                {% for ingredient in cocktail.ingredients %}
                    <li class="cocktail-ingredient-item">{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <p class="cocktail-date">Publié le : {{ cocktail.date_creation }}</p>
        </article>
    </div>
</main>
{% endblock main %}